// Media Queries
// Laptops, big tablets
@media (min-width: 769px) and (max-width: 1024px) {}

// Tablets
// @media (min-width: 481px) and (max-width: 768px) {
@media (max-width: 768px) {
  .nav-toggle {
    display: block;
  }

  .nav {
    &-list {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    &-item {
      margin-left: 0 !important;
      margin-bottom: 1.5rem;
    }
  }

  main {
    .registration {
      form {
        .contact-group {
          grid-template-columns: 1fr;
        }

        .contact-radio-container {
          grid-template-columns: 1fr;
        }
      }
    }

    .footer {
      &-contact {
        grid-template-columns: 1fr;
      }
    }
  }





}

// Smartphones
@media (max-width: 480px) {
  // .nav-toggle {
  //   display: block;
  // }

  // .nav {
  //   &-list {
  //     display: flex;
  //     align-items: center;
  //     flex-direction: column;
  //   }

  //   &-item {
  //     margin-bottom: 1.5rem;
  //     margin-left: 0 !important;
  //   }
  // }
}

// Smaller Phones
@media (max-width: 370px) {}

// Smaller Phones
@media (max-width: 300px) {}
