// Variables
$main-color-1: #FCB5AF;
$sub-color-1: #FDECE4;

$color-theme-1: #A5896A;

$main-color-2: #61C0BF;
$sub-color-2: #BBDED6;

$main-color-3: #A6C1EE;
$sub-color-3: #DDE3FD;

$padding-1: 30px;
$padding-2: 60px;

$border-radius-1: 3px;
