body {
  font-size: 16px;
}
// Scroll arrow
.scroll-top {
  position: fixed;
  right: 1.5rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  padding: 0.5rem;
  background: $sub-color-1;
  opacity: 0.7;
  border-radius: 0.5rem;
  transition: 0.2s;
  visibility: hidden;

  &:hover {
    opacity: 1;
  }

  &-icon {
    color: #333;
    font-size: 1.3rem;
  }
}

// Reveal scroll arrow class
.show-scroll {
  bottom: 1.5rem;
  visibility: visible;
}

// Active class
.active {
  position: relative;

  &:hover::before {
    background: $main-color-1;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    width: 5px;
    height: 5px;
    background: #333;
    left: 45%;
    border-radius: 50%;
  }
}

// Small Screen Menu
.nav-toggle {
  display: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;

  .line {
    position: absolute;
    width: 20px;
    height: 2px;
    background: #333;
  }

  .line1 {
    top: 31px;
    right: 29px;
    transition: all 0.3s ease;
  }

  .rotate1 {
    transform: rotate(-45deg);
    top: 35px
  }

  .line2 {
    top: 39px;
    right: 29px;
    transition: all 0.3s ease;
  }

  .rotate2 {
    transform: rotate(45deg);
    top: 35px
  }
}

.container {
  max-width: 1250px;
  width: calc(100% - 3rem);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

// Header
#header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: $sub-color-1;
  font-weight: 600;
}

.nav {
  margin: 0 auto;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-menu {
    @media screen and (max-width: 768px) {
      position: fixed;
      top: -100%;
      left: 0;
      right: 0;
      width: 90%;
      margin: 0 auto;
      padding: 2.5rem 0 0;
      text-align: center;
      background-color: $sub-color-1;
      transition: .4s;
      box-shadow: 0 0 4px rgba(0,0,0,.1);
      border-radius: 2rem;
      z-index: 100;
    }
  }

  &-item {
    margin-left: 2.5rem;
  }

  &-list {
    display: flex;
    align-items: center;
  }

  &-link,
  &-logo,
  &-item {
    color: #333;
  }

  &-logo {
    transition: all 500ms cubic-bezier(0.2, 1, 0.2, 1);

    &:hover {
      color: $main-color-1;
      transform: scale(1.1);
      transform: color;
    }
  }

  &-link {
    // color: #333;
    transition: color 0.1s ease;

    &:hover {
      color: $main-color-1;
    }
  }

  &-toggle {
    cursor: pointer;
  }
}

.show-menu {
  top: 6rem;
}

// Main
main {
  section {
    margin: 1rem 0;
    padding: 5rem 0;
  }

  .container {
    height: 100vh;
    margin: 0 auto;
  }

  // process
  .process-container {
    display: grid;
  }

    // location

    // info

    // registration
    .form {
      font-family: 'Montserrat', sans-serif;

      h2 {
        font-size: 18px;
        padding-top: 20px;
      }

      p {
        padding-top: 5px;
      }
    }

    // footer
    footer {
      background-color: $main-color-1;
      .container {
        height: 150px;
      }
    }
}