body {
  font-size: 16px;
}
// Scroll arrow
.scroll-top {
  position: fixed;
  right: 1.5rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  padding: 0.5rem;
  background: $dark-color-3;
  opacity: 0.7;
  transition: 0.2s;
  visibility: hidden;

  &:hover {
    opacity: 1;
  }

  &-icon {
    color: #fff;
    font-size: 1.3rem;
  }
}

// Reveal scroll arrow class
.show-scroll {
  bottom: 1.5rem;
  visibility: visible;
}

// Active class
.active {
  position: relative;

  &:hover::before {
    background: $dark-color-3;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    width: 5px;
    height: 5px;
    background: #333;
    left: 45%;
    border-radius: 50%;
  }
}

// Small Screen Menu
.nav-toggle {
  display: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;

  .line {
    position: absolute;
    width: 20px;
    height: 2px;
    background: #333;
  }

  .line1 {
    top: 31px;
    right: 29px;
    transition: all 0.3s ease;
  }

  .rotate1 {
    transform: rotate(-45deg);
    top: 35px
  }

  .line2 {
    top: 39px;
    right: 29px;
    transition: all 0.3s ease;
  }

  .rotate2 {
    transform: rotate(45deg);
    top: 35px
  }
}

.container {
  max-width: 1250px;
  width: calc(100% - 3rem);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.scroll-header {
  box-shadow: 0 1px 4px rgba(0,0,0,.1);
}

// Header
#header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: $sub-color-3;
  font-weight: 600;
}

.nav {
  max-width: 1350px;
  margin: 0 auto;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-menu {
    @media screen and (max-width: 768px) {
      position: fixed;
      top: -100%;
      left: 0;
      right: 0;
      width: 90%;
      margin: 0 auto;
      padding: 2.5rem 0 0;
      text-align: center;
      background-color: $sub-color-3;
      transition: .4s;
      box-shadow: 0 0 4px rgba(0,0,0,.1);
      z-index: 100;
    }
  }

  &-item {
    margin-left: 2.5rem;
  }

  &-list {
    display: flex;
    align-items: center;
  }

  &-link,
  &-logo,
  &-item {
    color: #333;
    font-size: 20px;
  }

  &-logo {
    transition: all 500ms cubic-bezier(0.2, 1, 0.2, 1);
    position: relative;
    top: 4px; 

    &:hover {
      color: $dark-color-3;
      transform: scale(1.1);
      transform: color;
    }
  }

  &-link {
    transition: color 0.1s ease;

    &:hover {
      color: $dark-color-3;
    }
  }

  &-toggle {
    cursor: pointer;
  }
}

.show-menu {
  top: 6rem;
}

// Main
main {
  h1 {
    font-size: 40px;
  }
  .landing {
    background-color: $sub-color-3;
    font-family: 'Montserrat', sans-serif;
    
    padding-top: 100px;

    &-content {
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;

      &-text {
        font-size: 24px;
      }

      &-img {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        
        img {
          object-fit: cover;
          width: 80%;
          height: 80%;
        }
      }
    }
  }



  .call-to-action {
    .btn {
      display: inline-block;
      background: #000;
      padding: 1.5rem 2rem;
      color: #fff;
      position: relative;
      margin-top: 3rem;
    
      &:hover {
        background: $dark-color-3;
      }
    }
    .more {
      padding-left: 30px;
      display: inline-block;
      padding-bottom: 10px;
      color: #000;
  
      &:hover {
        color: $dark-color-3;
      }
      
      &:after {
        content: '';
        display: block;
        border-bottom: 3px solid $dark-color-3;
        width: 100%;
      }
    }
  }


  section {
    margin: 1rem 0;
    padding: 5rem 0;
  }

  .container {
    margin: 0 auto;
  }

  .map-link {
    color: $dark-color-3;

    &:hover {
      color: $main-color-3;
    }
  }

  // info
  .info {
    &-container {
      p {
        font-size: 20px;
        padding: 5px 1rem;
      }
    }
  }

  // location
  .location {
    font-family: 'Montserrat', sans-serif;

    &-container {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .img {
        width: 100%;
        padding: 20px;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .info {
        padding: 20px;
        h3 {
          font-size: 24px;
          margin-bottom: 5px;
        }

        p {
          font-size: 20px;
        }
        
        &-p-link {
          margin-top: 20px;
        }

      }
    }

    .house {
      padding-top: 50px;
      .info {
        grid-column: 1;
        grid-row: 1;
      }
    }
  }

  // registration
  .registration {
    form {
      font-family: 'Montserrat', sans-serif;

      h2 {
        padding-top: 20px;
        padding-bottom: 5px;
        padding-left: 1rem;
      }

      p {
        padding-top: 5px;
      }

      .contact-form-icon {
        font-size: 30px;
        position: relative;
        top: 5px;
      }

      .contact-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 20px;
      }

      .contact-form {
        position: relative;
        padding: 0 1rem;

        label[for="birthday"],
        label[for="phone"] {
          span {
            color: rgb(182, 182, 182);
          }
        }
      }

      .contact-text-container {
        input[type=text],
        input[type=email] {
          width: 100%;
          outline: none;
          border-radius: 3px;
          padding: 16px;
          margin-top: 7px;
          border: none;
          border: 2px solid $main-color-3;
          font-size: 16px;
        }

        label {
          font-size: 1rem;
        }

        input:focus {
          background-color: mix(#fff, $main-color-3, 84%);
        }

        input:-webkit-autofill,
        textarea:-webkit-autofill,
        select:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px mix(#fff, $main-color-3, 84%) inset;
        box-shadow: 0 0 0px 1000px mix(#fff, $main-color-3, 84%) inset;
        }

        input:not(:placeholder-shown) {
          background-color: mix(#fff, $main-color-3, 84%);
        }
        
        /* If input is empty */
        input:placeholder-shown {
          background-color: #fff;
        }
      }

      .contact-sleep-radio,
      .contact-food-radio {
        h3 {
          font-size: 1rem;
        }
      }

      // input radio
      .contact-sleep-radio,
      .contact-food-radio {
        padding: 4px;
        border-radius: 3px;
        position: relative;
        
        input {
          width: auto;
          height: 100%;
          appearance: none;
          outline: none;
          cursor: pointer;
          border-radius: 2px;
          padding: 4px 8px;
          color: #333;
          font-size: 14px;

          &:checked {
            background-color: $sub-color-3;
            color: #000;
          }

          &:before {
            content: attr(label);
            display: inline-block;
            text-align: center;
            width: 100%;
          }
        }
      }



      .contact-radio-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // padding-top: 20px;

        &-1,
        &-2 {
          padding-left: 16px;
          h3 {
            margin-bottom: 10px;
          }
        }
      }

      .radio-form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        label {
          display: flex;
          cursor: pointer;
          font-weight: bold;
          position: relative;
          overflow: hidden;
          margin-bottom: 0.375em;

          input {
            position: absolute;
            left: -9999px;
            &:checked + span {
              background-color: mix(#fff, $main-color-3, 84%);
              &:before {
                box-shadow: inset 0 0 0 0.4375em $main-color-3;
              }
            }
          }

          span {
            display: flex;
            align-items: center;
            padding: 0.375em 0.75em 0.375em 0.375em;
            border-radius: 99em;
            transition: 0.25s ease;
            &:hover {
              background-color: mix(#fff, $main-color-3, 84%);
            }
            &:before {
              display: flex;
              flex-shrink: 0;
              content: "";
              background-color: #fff;
              width: 1.5em;
              height: 1.5em;
              border-radius: 50%;
              margin-right: 0.375em;
              transition: 0.25s ease;
              box-shadow: inset 0 0 0 0.125em $main-color-3;
            }
          }
        }
      }

      input[type=submit] {
        font-size: 24px;
        padding: 20px 30px;
        margin-left: 16px;
        margin-top: 16px;
        border: none;
        background-color: $main-color-3;
        color: #fff;
        cursor: pointer;

        &:hover {
          background-color: $dark-color-3;
        }
      }
    }
  }


  // footer
  .footer {
    background-color: $sub-color-3;


    &-icon {
      display: flex;
      justify-content: center;
      text-align: center;
      padding-top: 40px;

      .material-icons {
        font-size: 7rem;
      }
    }

    &-copy {
      display: flex;
      justify-content: center;
      text-align: center;
      padding: 40px 0 30px;
    }
  }
}

#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid $main-color-3;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#modal:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal {
  background-color: $sub-color-1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

  padding: 1rem;

  &-header {
    padding-top: 20px;
  }

  &-content {
    p {
      margin: 10px 0;
    }
  }
}

.close-btn {
  float: right;
  background-color: $main-color-1;
  border: none;
  border-radius: 50%;
  padding: 5px;

  cursor: pointer;

  .material-icons {
    position: relative;
    top: 1.5px;
  }
}
