@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@font-face {
  font-family: 'Quickpen';
  font-style: normal;
  font-weight: normal;
  src: local("Quickpen"), url("fonts/Trial by Cupcakes - Quickpen.woff") format("woff");
}

@font-face {
  font-family: 'Adobe Caslon Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Adobe Caslon Pro Regular"), url("fonts/ACaslonPro-Regular.woff") format("woff");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 24px;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', serif;
}

p,
a,
button {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.landing-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FCB5AF;
}

.landing-container .card {
  background-color: #FDECE4;
  width: 75vw;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 3px;
}

.landing-container .img {
  width: 35%;
  position: relative;
  border-radius: 3px;
}

.landing-container .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
}

.landing-container .main {
  padding: 30px 60px;
  width: 65%;
  display: -ms-grid;
  display: grid;
}

.landing-container .main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.landing-container .main-header-button .btn {
  position: relative;
  top: 30px;
  text-decoration: none;
  border-radius: 3px;
  border: 0.5px dotted #FCB5AF;
  padding: 30px;
  color: black;
}

.landing-container .main-header-button .btn:hover {
  background: #FCB5AF;
}

.landing-container .main-header-date {
  padding: 30px;
}

.landing-container .main-info-title {
  padding-bottom: 20px;
}

.landing-container .main-info-p {
  width: 100%;
}

.landing-container .main-infoBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-container .main-infoBtn-center {
  padding: 30px;
}

.landing-container .main-infoBtn .btn2 {
  font-size: 24px;
  font-weight: 600;
  border: none;
  text-decoration: none;
  border-radius: 3px;
  color: black;
  padding: 30px;
  background: #ff8f85;
}

.landing-container .main-infoBtn .btn2:hover {
  cursor: pointer;
  background: #fc8378;
}

@media (max-width: 1024px) {
  .landing-container .card {
    width: 100vw;
    height: 100vh;
  }
  .landing-container .card .img {
    width: 45vw;
  }
  .landing-container .card .main {
    padding: 15px 30px;
    width: 55vw;
  }
}

@media (max-width: 768px) {
  .landing-container h1 {
    font-size: 40px;
  }
  .landing-container p {
    font-size: 24px;
    padding: 0 10px;
  }
  .landing-container .card {
    width: 100vw;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .landing-container .card .img {
    width: 100vw;
    height: 40vh;
  }
  .landing-container .card .img img {
    -o-object-position: 0px -125px;
       object-position: 0px -125px;
  }
  .landing-container .card .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    height: 60%;
    padding: 0;
  }
  .landing-container .card .main-header-date {
    padding: 10px;
  }
  .landing-container .card .main-info-title {
    padding-left: 10px;
  }
  .landing-container .card .main-infoBtn {
    display: block;
    margin: auto;
  }
  .landing-container .card .main-infoBtn-center .btn2 {
    padding: 25px;
  }
}

@media (max-width: 480px) {
  .landing-container h1 {
    font-size: 28px;
  }
  .landing-container p {
    font-size: 16px;
    padding: 0 10px;
  }
  .landing-container .card {
    width: 100vw;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .landing-container .card .img {
    width: 100vw;
    height: 40vh;
  }
  .landing-container .card .img img {
    -o-object-position: 0px -65px;
       object-position: 0px -65px;
  }
  .landing-container .card .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    height: 60vh;
    padding: 0;
  }
  .landing-container .card .main-header-date {
    padding: 10px;
  }
  .landing-container .card .main-info-title {
    padding-left: 10px;
  }
  .landing-container .card .main-infoBtn {
    display: block;
    margin: auto;
  }
  .landing-container .card .main-infoBtn-center .btn2 {
    padding: 25px;
  }
}

@media (max-width: 370px) {
  .landing-container h1 {
    font-size: 28px;
  }
  .landing-container p {
    font-size: 16px;
  }
  .landing-container .card {
    width: 100vw;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .landing-container .card .img {
    width: 100vw;
    height: 40vh;
  }
  .landing-container .card .img img {
    -o-object-position: 0px -65px;
       object-position: 0px -65px;
  }
  .landing-container .card .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    height: 60vh;
    padding: 0;
  }
  .landing-container .card .main-header-date {
    padding: 10px;
  }
  .landing-container .card .main-info-title {
    padding-left: 10px;
  }
  .landing-container .card .main-infoBtn {
    display: block;
    margin: auto;
  }
  .landing-container .card .main-infoBtn-center .btn2 {
    padding: 25px;
  }
}

body {
  font-size: 16px;
}

.scroll-top {
  position: fixed;
  right: 1.5rem;
  bottom: -20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  padding: 0.5rem;
  background: #6f9dec;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  visibility: hidden;
}

.scroll-top:hover {
  opacity: 1;
}

.scroll-top-icon {
  color: #000;
  font-size: 1.3rem;
}

.show-scroll {
  bottom: 1.5rem;
  visibility: visible;
}

.active {
  position: relative;
}

.active:hover::before {
  background: #6f9dec;
}

.active::before {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  width: 5px;
  height: 5px;
  background: #333;
  left: 45%;
  border-radius: 50%;
}

.nav-toggle {
  display: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-toggle .line {
  position: absolute;
  width: 20px;
  height: 2px;
  background: #333;
}

.nav-toggle .line1 {
  top: 31px;
  right: 29px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-toggle .rotate1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 35px;
}

.nav-toggle .line2 {
  top: 39px;
  right: 29px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-toggle .rotate2 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 35px;
}

.container {
  max-width: 1250px;
  width: calc(100% - 3rem);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.scroll-header {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

#header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: #DDE3FD;
  font-weight: 600;
}

.nav {
  margin: 0 auto;
  height: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    padding: 2.5rem 0 0;
    text-align: center;
    background-color: #DDE3FD;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }
}

.nav-item {
  margin-left: 2.5rem;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-link, .nav-logo, .nav-item {
  color: #333;
}

.nav-logo {
  -webkit-transition: all 500ms cubic-bezier(0.2, 1, 0.2, 1);
  transition: all 500ms cubic-bezier(0.2, 1, 0.2, 1);
  position: relative;
  top: 4px;
}

.nav-logo:hover {
  color: #6f9dec;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform: color;
          transform: color;
}

.nav-link {
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
}

.nav-link:hover {
  color: #6f9dec;
}

.nav-toggle {
  cursor: pointer;
}

.show-menu {
  top: 6rem;
}

main section {
  margin: 1rem 0;
  padding: 5rem 0;
}

main .container {
  margin: 0 auto;
}

main .process-container {
  display: -ms-grid;
  display: grid;
}

main .registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .registration-container {
  max-width: 800px;
}

main .registration form {
  font-family: 'Montserrat', sans-serif;
}

main .registration form h2 {
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 1rem;
}

main .registration form p {
  padding-top: 5px;
}

main .registration form .contact-form-icon {
  position: relative;
  top: 5px;
}

main .registration form .contact-group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

main .registration form .contact-form {
  position: relative;
  padding: 0 1rem;
}

main .registration form .contact-text-container input[type=text],
main .registration form .contact-text-container input[type=email] {
  width: 100%;
  outline: none;
  border-radius: 8px;
  padding: 16px;
  margin-top: 5px;
  border: none;
  border: 2px solid #A6C1EE;
}

main .registration form .contact-text-container label {
  font-size: 0.8rem;
}

main .registration form .contact-text-container input:focus {
  background-color: #DDE3FD;
}

main .registration form .contact-text-container input:-webkit-autofill,
main .registration form .contact-text-container textarea:-webkit-autofill,
main .registration form .contact-text-container select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #DDE3FD inset;
  box-shadow: 0 0 0px 1000px #DDE3FD inset;
}

main .registration form .contact-sleep-radio h3,
main .registration form .contact-food-radio h3 {
  font-size: 1rem;
}

main .registration form .contact-sleep-radio,
main .registration form .contact-food-radio {
  padding: 4px;
  border-radius: 3px;
  position: relative;
}

main .registration form .contact-sleep-radio input,
main .registration form .contact-food-radio input {
  width: auto;
  height: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  padding: 4px 8px;
  color: #333;
  font-size: 14px;
}

main .registration form .contact-sleep-radio input:checked,
main .registration form .contact-food-radio input:checked {
  background-color: #DDE3FD;
  color: #000;
}

main .registration form .contact-sleep-radio input:before,
main .registration form .contact-food-radio input:before {
  content: attr(label);
  display: inline-block;
  text-align: center;
  width: 100%;
}

main .registration form .contact-radio-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-top: 20px;
}

main .registration form .contact-radio-container-1, main .registration form .contact-radio-container-2 {
  padding-left: 16px;
}

main .registration form .contact-radio-container-1 h3, main .registration form .contact-radio-container-2 h3 {
  margin-bottom: 10px;
}

main .registration form .radio-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .registration form .radio-form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
}

main .registration form .radio-form label input {
  position: absolute;
  left: -9999px;
}

main .registration form .radio-form label input:checked + span {
  background-color: #f1f5fc;
}

main .registration form .radio-form label input:checked + span:before {
  -webkit-box-shadow: inset 0 0 0 0.4375em #A6C1EE;
          box-shadow: inset 0 0 0 0.4375em #A6C1EE;
}

main .registration form .radio-form label span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

main .registration form .radio-form label span:hover {
  background-color: #f1f5fc;
}

main .registration form .radio-form label span:before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  -webkit-box-shadow: inset 0 0 0 0.125em #A6C1EE;
          box-shadow: inset 0 0 0 0.125em #A6C1EE;
}

main .registration form input[type=submit] {
  font-size: 24px;
  padding: 20px 30px;
  margin-left: 16px;
  margin-top: 16px;
  border-radius: 8px;
  border: none;
  background-color: #A6C1EE;
  color: #fff;
  cursor: pointer;
}

main .registration form input[type=submit]:hover {
  background-color: #6f9dec;
}

main footer {
  background-color: #DDE3FD;
}

main footer .container {
  height: 150px;
}

#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;
  will-change: transform;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .nav-toggle {
    display: block;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-item {
    margin-left: 0 !important;
    margin-bottom: 1.5rem;
  }
  main .registration form .contact-group {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  main .registration form .contact-radio-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=main.css.map */