@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  font-family: 'Quickpen';
  font-style: normal;
  font-weight: normal;
  src: local('Quickpen'), url('Trial by Cupcakes - Quickpen.woff') format('woff');
}

@font-face {
  font-family: 'Adobe Caslon Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Adobe Caslon Pro Regular'), url('ACaslonPro-Regular.woff') format('woff');
}

// Variables
$main-color-1: #FCB5AF;
$sub-color-1: #FDECE4;

$color-theme-1: #A5896A;

$main-color-2: #61C0BF;
$sub-color-2: #BBDED6;

$main-color-3: #A6C1EE;
$sub-color-3: #DDE3FD;

$padding-1: 30px;
$padding-2: 60px;

$border-radius-1: 3px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  // font-family: 'Quickpen', sans-serif;
  background-color: $main-color-1;
  font-size: 24px;
}

h1 {
  font-family: 'Quickpen', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-family: 'PT Serif', serif;
}

p,
a {
  font-family: 'Adobe Caslon Pro Regular', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

// Container
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  // Card
  .card {
    background-color: $sub-color-1;
    width: 75vw;
    height: 75vh;
  
    display: flex;
    flex-direction: row;
    border-radius: $border-radius-1;
  }

  // Image
  .img {
    width: 35%;
    // padding: $padding-1 $padding-2;
    position: relative;
    border-radius: $border-radius-1;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: calc(100% - 60px);
      opacity: .4;
      border-radius: $border-radius-1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: $border-radius-1;
    }
  }

  // Main
  .main {
    // padding: $padding-1 $padding-2 $padding-1 $padding-1;
    padding: $padding-1 $padding-2;
    width: 65%;
    display: grid;

    // Header
    &-header {
      display: flex;
      justify-content: space-between;

      &-button {
        .btn {
          position: relative;
          top: 30px;
          text-decoration: none;
          // background: $main-color-1;
          border-radius: $border-radius-1;
          border: 0.5px dotted $main-color-1;
          padding: $padding-1;
          color: black;
        
          &:hover {
            background: $main-color-1;
          }
        }
      }

      &-date {
        padding: $padding-1;
      }
    }

    // Info
    &-info {
      &-title {
        padding-bottom: 20px;
      }

      &-p {
        width: 100%;
      }
    }

    // BTN
    &-infoBtn {
      // position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .btn2 {
        // position: absolute;
        // bottom: 30px;
        // right: 30px;
        background: #ff8f85;  
        &:hover {
          background: #fc8378;
        }

        text-decoration: none;

        border-radius: $border-radius-1;
        padding: $padding-1;
        color: black;
      }
    }
  }
}


