@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@font-face {
  font-family: 'Quickpen';
  font-style: normal;
  font-weight: normal;
  src: local("Quickpen"), url("Trial by Cupcakes - Quickpen.woff") format("woff");
}

@font-face {
  font-family: 'Adobe Caslon Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Adobe Caslon Pro Regular"), url("ACaslonPro-Regular.woff") format("woff");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FCB5AF;
  font-size: 24px;
}

h1 {
  font-family: 'Quickpen', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-family: 'PT Serif', serif;
}

p,
a {
  font-family: 'Adobe Caslon Pro Regular', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .card {
  background-color: #FDECE4;
  width: 75vw;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 3px;
}

.container .img {
  width: 35%;
  position: relative;
  border-radius: 3px;
}

.container .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
}

.container .main {
  padding: 30px 60px;
  width: 65%;
  display: -ms-grid;
  display: grid;
}

.container .main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .main-header-button .btn {
  position: relative;
  top: 30px;
  text-decoration: none;
  border-radius: 3px;
  border: 0.5px dotted #FCB5AF;
  padding: 30px;
  color: black;
}

.container .main-header-button .btn:hover {
  background: #FCB5AF;
}

.container .main-header-date {
  padding: 30px;
}

.container .main-info-title {
  padding-bottom: 20px;
}

.container .main-info-p {
  width: 100%;
}

.container .main-infoBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .main-infoBtn .btn2 {
  background: #ff8f85;
  text-decoration: none;
  border-radius: 3px;
  padding: 30px;
  color: black;
}

.container .main-infoBtn .btn2:hover {
  background: #fc8378;
}

@media (max-width: 1024px) {
  .container .card {
    width: 100vw;
    height: 100vh;
  }
  .container .card .img {
    width: 45vw;
  }
  .container .card .main {
    padding: 15px 30px;
    width: 55vw;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 24px;
    padding: 0 10px;
  }
  .container .card {
    width: 100vw;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .card .img {
    width: 100vw;
    height: 40vh;
  }
  .container .card .img img {
    -o-object-position: 0px -125px;
       object-position: 0px -125px;
  }
  .container .card .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    height: 60%;
    padding: 0;
  }
  .container .card .main-header-date {
    padding: 10px;
  }
  .container .card .main-info-title {
    padding-left: 10px;
  }
  .container .card .main-infoBtn {
    display: block;
    margin: auto;
  }
  .container .card .main-infoBtn-center .btn2 {
    padding: 25px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 28px;
  }
  p {
    font-size: 16px;
    padding: 0 10px;
  }
  .container .card {
    width: 100vw;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .card .img {
    width: 100vw;
    height: 40vh;
  }
  .container .card .img img {
    -o-object-position: 0px -65px;
       object-position: 0px -65px;
  }
  .container .card .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    height: 60vh;
    padding: 0;
  }
  .container .card .main-header-date {
    padding: 10px;
  }
  .container .card .main-info-title {
    padding-left: 10px;
  }
  .container .card .main-infoBtn {
    display: block;
    margin: auto;
  }
  .container .card .main-infoBtn-center .btn2 {
    padding: 25px;
  }
}

@media (max-width: 370px) {
  body {
    overflow: hidden;
  }
  h1 {
    font-size: 28px;
  }
  p {
    font-size: 16px;
  }
  .container .card {
    width: 100vw;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .card .img {
    width: 100vw;
    height: 40vh;
  }
  .container .card .img img {
    -o-object-position: 0px -65px;
       object-position: 0px -65px;
  }
  .container .card .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    height: 60vh;
    padding: 0;
  }
  .container .card .main-header-date {
    padding: 10px;
  }
  .container .card .main-info-title {
    padding-left: 10px;
  }
  .container .card .main-infoBtn {
    display: block;
    margin: auto;
  }
  .container .card .main-infoBtn-center .btn2 {
    padding: 25px;
  }
}
/*# sourceMappingURL=style.css.map */