@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*
FFB6B9 
FAE3D9
BBDED6
61C0BF
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(77, 77, 77);
}

.box {
  width: 200px;
  height: 200px;
}

.box1 {
  display: flex;
  background: #FFB6B9;

  text-align: center;
  justify-content: center;
}
.box2 {
  background: #FAE3D9;
}
.box3 {
  background: #BBDED6;
}
.box4 {
  background: #61C0BF;
}